@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}